<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmXMfgMILviYxD4B6gkktzA8r9qSsP5P8</string>
	<key>GCM_SENDER_ID</key>
	<string>605466185443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoppkapinda.app</string>
	<key>PROJECT_ID</key>
	<string>hopp-kapindaa</string>
	<key>STORAGE_BUCKET</key>
	<string>hopp-kapindaa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605466185443:ios:34c02d8f122a73bfcb3fd6</string>
</dict>
</plist>